.accordion-group {
    margin-bottom: 0px;
    border: 0px solid #E5E5E5;
    border-radius: 4px;
}
.navbar .nav > li > a{
   line-height: 28px;
    width: 10%!important;
}
.editbox
{
display:none
}
td
{
padding:5px;
}
.editbox
{
font-size:14px;
width:80px;
background-color:#ffffcc;
border:solid 1px #000;
padding:4px;
}
.edit_tr:hover
{
background:url(edit.png) right no-repeat #80C8E5;
cursor:pointer;
}
.grid-wrapper {
  // border: solid red 5px;
   overflow: scroll;
   height: 70%;
}
.widget-main {
    padding:0px;
}
.accordion-inner {
    padding: 0px 0px;
    border-top: 0px solid #E5E5E5;
}
.login-layout .widget-box {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 100%;
    border-bottom: 0px none;
    box-shadow: none;
    padding: 0px;
    background-color: #394557;
    transform: scale(0, 1) translate(-150px);
}
.login-layout {
    background: #21409A  none repeat scroll 0% 0%;
}
